@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
 margin: 0;
 padding: 0;
 font-family: "Poppins";
}

:root {
  align-items: center;
  box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(202, 68, 88);
    margin: 100px;
    background-size: auto;  
}

.links {
  list-style:none;
  border:1px solid #c0c0c0;
  float:left;
}

.links li {
  position:relative;
  float:left;
  border-right:1px solid #c0c0c0;
  }

.links li a {color:#fff; text-decoration:none; padding:5px 50px; display:flex;}

.links li a:hover {
  background:#eb68687e;
  color:#fff;
  text-shadow:0px 0px 1px #fff;
}  

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
 
/* Change the link color to #111 (black) on hover */
a:hover {
    background-color: #ec942f;
}
/* HEADER */
header{
  position: relative;
  padding: 0 2rem;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo .a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar.links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  
}

.action_btn{
  background-color: #ec942f;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
  scale: 1.05;
  color: #fff;
}

.action_btn:active{
  scale: 0.95;
}

@media(max-width: 992px) {
  .navbar.links
  .navbar .action_btn{
    display: none;
  }
  
  .navbar .toggle_btn {
    display: block;
  }
}